/* Estilo do seletor universal */ 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Estilo do body */ 
body{
    overflow-x: hidden;
    width: 100vw;
    height: 200vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url('images/hamburguer2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Estilo do menu principal */ 
.logo-container{
    position: relative;
    width: 100px;
    height: 80px;
    cursor: pointer;
}
.logo-container h3{
    position: absolute;
    top:5px;
    left: 10px;
    color: red;
}
.logo-container .logo{
    position: absolute;
    top:1px;
    left: 5px;
    width: 80px;
    height: 100px;
}
.menu-btn{
    position: absolute;
    right: 25px;
    top: 25%;
    background-color: transparent;
    border: 1px black solid;
    font-size: 15px;
    width: 90px;
    height: 38px;
    border-radius: 5px;
    cursor: pointer;
}
span{
    display: inline-block;
    margin-left: 30px;
}
.menu-btn img{
    display: block;
    position: absolute;
    margin-left: 18px;;
    width: 19px;
    height: 19px;
}
.main-nav{
    width: 100%;
    height: 80px;
    background-color: rgb(193, 183, 3);  /* #cda608 */
    position: absolute;
    top: 0;
    box-shadow: 0 0 5px 1px black;

}
/* menu secondário*/
.secondary-menu{
    overflow-y: hidden;
}

.close-modal{
    width: 55px;
    height: 60px;
    color: darkred;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.close-modal span{
    font-size: 55px;
    margin-top: -15%;
    margin-left: -13%;
}
.main-container{
    display: block;
    position: absolute;
    z-index: 2;
    top:0;
    right: -70%;
    width: 70%;
    height: 200vh;
    background-color: #fff;
    border-left: 1px solid grey;
}
/* Animações para abrir e fechar a sidebar*/
@keyframes abrir {
    from{
        right: -70%;
    }
    to{
        right: 0;
    }
}
@keyframes fechar {
    from{
        right: 0;
    }
    to{
        right: -70%;
    }
}
.first-container .logo-container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.first-container .logo-container2 h3{
    color: red;
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: -40px;
}
.first-container .logo-container2 .logo{
    width: 150px;
    height: 150px;
}
.close-or-open{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.close-or-open .open{
    color: green;
    width: 200px;
    height: 40px;
    border: 1px solid green;
    margin-top: -12%;
    z-index: 2;
    
}
.close-or-open .closed{
    color: red;
    width: 200px;
    height: 40px;
    border: 1px solid red;
    margin-top: -20%;
    z-index: 1;
    visibility: hidden;
}
.close-or-open .open .text{
    margin-top: 4%;
    margin-left: -2%;
}
.close-or-open .closed .text{
    margin-top: 4%;
    margin-left: -2%;
}
.second-container{
    margin-top: 5%;
}
.second-container ul{
    list-style: none;
}
.second-container ul li{
    border-bottom: 1px solid grey;
    padding: 2%;
}
.second-container ul li:nth-child(7){
    border-bottom: 6px solid grey;
}
.second-container ul li a{
    text-decoration: none;
    color: grey;
    margin-top: -200%;
}
.second-container img{
    margin-right: 1%;
    margin-top: 1%;
    width: 25px;
    height: 25px;
}
.second-container span{
    display: block;
    margin-top: -3%;
}
.second-container .text1{
    display: block;
    margin-top: -2.5%;
}
.second-container .text2{
    display: block;
    margin-top: -3%;
}
.second-container .text3{
    display: block;
    margin-top: -3%;
}
.third-container{
    margin-left: 4%;
    color: grey;
}
.third-container h4{
    color: rgba(0, 0, 0, 0.8);
}
.third-container ul{
    margin-left: 6%;
}
.developer{
    position: absolute;
    bottom: 2%;
    left: 25%;
}
/* Estilo do conteúdo principal*/
.main-content-of-the-page{
    position: relative;
    transform: translate(20%, 50%);
    display: center;
    text-justify: center;
    text-align: center;
    height: 90vh;
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10%;
}
.container{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color:rgba(0, 0, 0, 0.8);
}
.logo-bigdog h3{
    margin-top: 5%;
    color: red;
    font-size: 4em;
}
.logo-bigdog img{
    margin-top: -25%;
    width: 250px;
    height: 250px;
}
.contato img{
    margin-right: -7%;
    width: 20px;
    height: 20px;
}
.contato span{
    font-size: 1em;
}
.funcionamento h4{
    font-size: 2.5em;
    margin-bottom: 10%;
}
.funcionamento p{
    font-size: 1.5em;
    margin-bottom: 15%;
}
/* Estilo do rodapé */ 
footer{
    background-color: rgb(193, 183, 3);
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: -100%;
    box-shadow: 0 0 5px 1px black;
    z-index: 0;
}
footer ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 8%;
    list-style-type: none;
}
footer ul li{
    margin-top: 1.5%;
}
footer ul li a{
    font-size: 0.7em;
    margin-right: 20vw;
    text-decoration: none;
    color: black;
}
footer ul li .footer-icons{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    width: 30px;
    height: 30px;
    color: white;
}
footer ul li .first{
    margin-left: 1%;
}
footer ul li .second{
    margin-left: 10%;
}
footer ul li .third{
    margin-left: 11%;
}
footer ul li .fourth{
    margin-left: 10%;
}

